.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body,
header,
h1 {
  text-align: center;

  margin: 0;
  padding: 0;
}
body{
 background-image: url(https://source.unsplash.com/random/2400×1600/?mountainrange);
  /* background-size:100% 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout {
  margin: 0;
}

.title {
  font-size: 50px;
}

.App {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

}

.container {
  padding: 0;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section {
  display: flex;
  flex-direction: column;
}

.task {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 27vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button {
  height: 35px;
  width: 50px;
}

.list {
  height: 700px;
  width: 30vw;
  border-radius: 5px;
  background-color: rgba(235, 236, 240, 0.9);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list>h2{
  color:rgb(23 43 78)
}

.formContainer {
  height: fit-content;
  width: 40vw;
  margin: 20px, 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(235, 236, 240, 0.9);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.form {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submit {
  width: 150px;
}

.showPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

/* .taskContainer {
  width: 70vw;
  height: 60vh;
  border: 1px solid black;
  background-color: azure;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
} */
